[user]
	email = tim225x@gmail.com
	name = timtoronto634
[alias]
	st = status
	co = checkout
	b = branch
[url "git@github.com:"]
	insteadOf = https://github.com/
[ghq]
	vcs = github
	user = timtoronto634
